<div class="desktop-1">
  <div class="input">
    <div class="label">Interview name</div>
    <div class="textbox">
      <input class="text-field-data" value="Text field data" />
    </div>
  </div>
  <div class="question-text-area">
    <div class="content-area">
      <button class="container">
        <div class="label-container">
          <input class="label2" value="Question" />
        </div>
      </button>
    </div>
    <div class="resize-handle">
      <div class="glyph-area">
        <div class="emoticon-outline">󰑝</div>
      </div>
    </div>
  </div>
  <button class="save-question-button">
    <div class="save-question-text">Save Question</div>
  </button>
</div>
