<body>
<div class="flex-column d-flex align-content-center justify-content-center align-items-center gap-3 row-cols-1"
     style="padding: 3px;">

  <div id="timerContainer">
    <countdown [config]="config" (event)="handleEvent($event)"/>
  </div>
  <app-question [questions]="questions"/>
  <button style="color: white; background-color: #005e91" class="btn btn-success align-items-center w-auto"
          (click)="handleSubmitInterviewButtonClicked()">Submit Interview
  </button>
</div>

</body>
