<body style="background-color: #1B262C">
<div style="background-color: #1B262C; position: static; display: flex">

  <div class="timer-container">
    <countdown [config]="config" (event)="handleEvent($event)"/>
  </div>
  <p-divider layout="vertical"/>
  <div class="btn-group" dropdown>
    <p-button id="button-basic" dropdownToggle class="p-button-raised p-button-success"
              aria-controls="dropdown-basic">
      Language-[{{ language }}] <span class="caret"></span>
      <span class="pi pi-angle-down"></span>
    </p-button>

    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'C'">C</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'C++'">C++</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'C#'">C#</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'Java'">Java</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'Javascript'">Javascript</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'Python'">Python</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="language = 'Kotlin'">Kotlin</a></li>
    </ul>
  </div>
  <p-divider layout="vertical"/>
  <div class="btn-group" dropdown>
    <p-button id="button-theme" dropdownToggle class="p-button-raised p-button-success"
              aria-controls="dropdown-basic">
      Editor Theme-[{{ currentTheme }}] <span class="caret"></span>
      <span class="pi pi-angle-down"></span>
    </p-button>
    <ul id="dropdown-theme" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-theme">
      <li role="menuitem"><a class="dropdown-item"
                             (click)="localStorage.setItem('theme', 'vs-light'); setEditorOptions()">Light</a></li>
      <li role="menuitem"><a class="dropdown-item"
                             (click)="localStorage.setItem('theme', 'vs-dark'); setEditorOptions()">Dark</a></li>
    </ul>
  </div>


  <p-divider layout="vertical"/>

  <p-button label="Run Code" (onClick)="handleRunButtonClicked()" class="p-button-raised p-button-success"></p-button>
  <p-divider layout="vertical"/>
  <p-button label="Run Tests" class="p-button-raised p-button-success"></p-button>
  <p-divider layout="vertical"/>
  <p-button label="Submit Interview" class="p-button-raised p-button-success"></p-button>
</div>
<p-splitter [style]="{ height: 'calc(100vh - 60px)', backgroundColor: '#1B262C'}" [panelSizes]="[75, 25]"
            styleClass="mb-5"
            layout="vertical">

  <ng-template pTemplate>
    <p-splitter [style]="inlineStyles" [panelSizes]="[70, 30]" layout="horizontal">
      <ng-template pTemplate>
        <div class="editor-container">
          <ngx-monaco-editor class="monaco-editor" [ngModel]="code" [options]="editorOptions"
                             (ngModelChange)="onCodeChange($event)"></ngx-monaco-editor>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="question-side">
          <p>
            Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted
            arrays.
            The overall run time complexity should be O(log (m+n)).
            <br/>
            Example 1:
            <br/>
            Input: nums1 = [1,3], nums2 = [2]
            <br/>
            Output: 2.00000
          </p>
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>


  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center" style="background-color: #1B262C; color: #BBE1FA">

      <div class="output-container">
        <p>
          <b>Output:</b>
          <br/><br/>
          <b>Explanation:</b>
          <br/><br/>
          <b>Constraints:</b>
          <br/><br/>
        </p>
      </div>
    </div>
  </ng-template>
</p-splitter>

</body>
