.question-side, output-container {

  height: 400px;

  overflow: scroll;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.editor-container {
  flex: content;
  flex-direction: column;
}

