<body style="background-color: #1B262C">
<div style="background-color: #1B262C; position: static; display: flex">

  <div class="timer-container">
    <countdown [config]="config" (event)="handleEvent($event)"/>
  </div>
  <p-divider layout="vertical"/>
  <div class="btn-group" dropdown>
    <p-button id="button-basic" dropdownToggle class="p-button-raised p-button-success"
              aria-controls="dropdown-basic">
      Language-[{{ language }}] <span class="caret"></span>
      <span class="pi pi-angle-down"></span>
    </p-button>

    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem" *ngFor="let lang of supportedLanguages">
        <a class="dropdown-item" (click)="handleChangeLanguage(lang)">
          {{ lang.name }}
        </a>
      </li>
    </ul>
  </div>

  <p-divider layout="vertical"/>
  <div class="btn-group" dropdown>
    <p-button id="button-theme" dropdownToggle class="p-button-raised p-button-success"
              aria-controls="dropdown-basic">
      Editor Theme-[{{ currentTheme }}] <span class="caret"></span>
      <span class="pi pi-angle-down"></span>
    </p-button>
    <ul id="dropdown-theme" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-theme">
      <li role="menuitem"><a class="dropdown-item"
                             (click)="localStorage.setItem('theme', 'vs-light'); setEditorOptions()">Light</a></li>
      <li role="menuitem"><a class="dropdown-item"
                             (click)="localStorage.setItem('theme', 'vs-dark'); setEditorOptions()">Dark</a></li>
    </ul>
  </div>


  <p-divider layout="vertical"/>

  <p-button label="Run Code" (onClick)="handleRunButtonClicked()" class="p-button-raised p-button-success"></p-button>
  <p-divider layout="vertical"/>
  <p-button label="Run Tests" (onClick)="handleRunTestsButtonClicked()" class="p-button-raised p-button-success"></p-button>
  <p-divider layout="vertical"/>
  <p-button label="Submit Interview" (onClick)="handleSubmitButtonClicked()" class="p-button-raised p-button-success"></p-button>
</div>
<p-splitter [style]="{ height: 'calc(100vh - 60px)', backgroundColor: '#1B262C'}" [panelSizes]="[75, 25]"
            styleClass="mb-5"
            layout="vertical">

  <ng-template pTemplate>
    <p-splitter [style]="inlineStyles" [panelSizes]="[70, 30]" layout="horizontal">
      <ng-template pTemplate>
        <div class="editor-container">
          <ngx-monaco-editor class="monaco-editor" [ngModel]="code" [options]="editorOptions"
                             (ngModelChange)="onCodeChange($event)"></ngx-monaco-editor>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="question-side">
          {{question}}
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>


  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center" style="background-color: #1B262C; color: #BBE1FA">
      <div class="output-container col flex align-items-center justify-content-center d-flex" *ngIf="isCompiling">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="3" fill="var(--surface-ground)"
                           animationDuration="1s"/>
      </div>

      <div class="output-container" *ngIf="!isCompiling">
        <pre *ngIf="isCompileSuccess">
<strong>Output:</strong>
{{ result }}
        </pre>
        <code *ngIf="!isCompileSuccess">
          {{result}}
        </code>
      </div>
    </div>
  </ng-template>
</p-splitter>

</body>
